@import "../../shared/style/color.scss";
@import "../../shared/style/common.scss";

.entry {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: {
    repeat: no-repeat;
    size: cover;
    position: center;
    attachment: fixed;
  }

  .overlay {
    @include intro-overlay;
  }

  // .blur-overlay {
  //   position: fixed;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   background: rgba( 0, 0, 0, 0.4 );
  //   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  //   backdrop-filter: blur(17px);
  //   border-radius: 10px;
  //   border: 1px solid rgba(255, 255, 255, 0.18);
  // }

  .entry-wrapper {
    * {
      font-family: "Josefin Sans", sans-serif;
    }

    @include popup(10px);
    width: 340px;
    padding: 24px;
    color: $textwhite;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 0.18);

    input:-webkit-autofill {
      -webkit-text-fill-color: $textwhite;
      background-clip: text;
    }

    .code-entering {
      width: 100%;
      padding: 14px 16px 12px;
      font-size: 18px;
      color: white;
      margin-bottom: 10px;
      text-align: center;

      background: rgba(0, 0, 0, 0.15);
      box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 0.4);
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.18);

      &::placeholder {
        color: $grey;
      }

      &:focus {
        box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 0.75);
      }
    }

    .join-btn {
      margin-top: 10px;
      cursor: pointer;
      text-transform: uppercase;
      width: 100%;
      border-radius: 6px;
      font-size: 18px;
      line-height: 38px;
      padding-top: 4px;
      font-weight: 600;
      background: $khaki;
      color: $darkslatebrown;

      &:hover {
        background: $darkkhaki;
      }
    }
  }
}
