@import '../../../../shared/style/color.scss';

.quiz-sets-list {
  h1 {
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 20px;
    font-size: 26px;
  }

  .list-cards {
    display: grid;
    row-gap: 32px;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .load-more-btn {
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    background: black;
    color: white;
    margin: 32px 0 28px 50%;
    transform: translateX(-50%);
    padding: 10px 24px 8px 24px;
    border-radius: 6px;

    &:hover {
      background: #fd6f6f;
    }
  }
}