@import "../../shared/style/color.scss";

@import url("https://fonts.googleapis.com/css2?family=Mali:wght@500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');

.temporary-container {
  height: 100vh;
  color: white;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: {
    repeat: no-repeat;
    size: cover;
    attachment: fixed;
  }

  .blur-overlay {
    padding: 2px 2px 4px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .result-wrapper {
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    .finish-lb {
      font-family: 'IM Fell DW Pica SC', serif;
      font-size: 68px;
      opacity: 0.8;
    }

    .finish-icon {
      width: 300px;
      height: 300px;
      opacity: 0.8;
    }

    .rank-message {
      font-family: "Mali", cursive;
      font-size: 46px;
      font-weight: 600;
      display: flex;
      align-items: center;
      margin-top: 10px;

      .rank-icon {
        margin-left: 10px;
        margin-top: 2px;
        width: 45px;
        height: 45px;
      }
    }

    .finish-btn {
      margin-top: 38px;
      top: 12px;
      right: 12px;
      font-family: "Mali", cursive;
      padding: 8px 32px 12px;
      font-size: 28px;
      cursor: pointer;
      border-radius: 5px;
      backdrop-filter: blur(1px);
      background: rgba(white, 0.1);
      color: #ffffffbd;
      box-shadow: inset 0 1px 10px 0 rgba(255, 255, 255, 0.56), 0 1px 18px 0 rgba(0, 0, 0, 0.56);
      border: 1px solid rgba(255, 255, 255, 0.25);

      &:hover {
        box-shadow: inset 0 1px 10px 0 rgba(255, 255, 255, 0.73), 0 1px 18px 0 rgba(0, 0, 0, 0.46);
        border: 1px solid rgba(255, 255, 255, 0.42);
        color: white;
      }
    }
  }
}
