.authentication {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: {
    repeat: no-repeat;
    size: cover;
    position: center;
    attachment: fixed;
  }

  .blur-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba( 0, 0, 0, 0.4 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(17px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}
