@import "../../shared/style/color.scss";
@import "../../shared/style/common.scss";

@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

$alpha: 0.55;

.host-game-control {
  font-family: "Mali", cursive;
  height: 100vh;
  color: white;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: {
    repeat: no-repeat;
    size: cover;
    // position: center;
    attachment: fixed;
  }

  .blur-overlay {
    padding: 2px 2px 4px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .test-name-lb {
    position: fixed;
    top: -2px;
    left: 50vw;
    transform: translateX(-50%);
    padding: 4px 44px 14px;
    text-align: center;
    color: $textwhite;
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 64px;
    box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 1);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    font-size: 38px;
    text-shadow: 0px 0px 3px #9c90c5;
    font-family: "Paytone One", sans-serif;
  }

  .last-rank {
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    height: 450px;

    .rank-bar {
      position: relative;
      width: 170px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(4px);
      font-family: "Mali", cursive;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &.rank-1 {
        box-shadow: inset 0 1px 26px 0 #faffae, 0 1px 26px 0 rgba(0, 0, 0, 0.73);
        color: #f7ff83;
        background: rgba(#f7ff83, 0.1);
        z-index: 1;
      }

      &.rank-2 {
        box-shadow: inset 0 1px 26px 0 white, 0 1px 26px 0 rgba(0, 0, 0, 0.73);
        background: rgba(255, 255, 255, 0.1);
      }

      &.rank-3 {
        box-shadow: inset 0 1px 26px 0 #f9dbaf, 0 1px 26px 0 rgba(0, 0, 0, 0.73);
        color: #edc893;
        background: rgba(#edc893, 0.1);
      }

      .player-name {
        position: absolute;
        top: -38px;
        font-size: 24px;
      }

      .top-info {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .top-icon {
          width: 56px;
          height: 56px;
          // opacity: 0.6;
        }

        .player-score {
          margin-top: 4px;
          font-size: 20px;
        }

        .rank-number {
          position: absolute;
          top: 48px;
          transform: translateY(-50%);
          font-size: 28px;
          font-weight: 700;
          color: #49195c;

          &.rank-number-1 {
            margin-right: 3px;
          }
        }
      }

      &.rank-2 {
        height: 80%;
      }

      &.rank-1 {
        height: 100%;
      }

      &.rank-3 {
        height: 60%;
      }
    }
  }

  .finish-btn {
    position: fixed;
    top: 12px;
    right: 12px;
    font-family: "Mali", cursive;
    padding: 10px 22px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    backdrop-filter: blur(1px);
    background: rgba(white, 0.1);
    color: #ffffffbd;
    box-shadow: inset 0 1px 10px 0 rgba(255, 255, 255, 0.56);
    border: 1px solid rgba(255, 255, 255, 0.25);

    &:hover {
      box-shadow: inset 0 1px 10px 0 rgba(255, 255, 255, 0.73);
      border: 1px solid rgba(255, 255, 255, 0.42);
      color: white;
    }
  }

  .leader-board-lb {
    // position: relative;
    // top: -2px;
    // margin: 0 auto 0;
    position: fixed;
    top: -2px;
    left: 50vw;
    transform: translateX(-50%);
    padding: 4px 0 20px;
    text-align: center;
    width: 480px;
    color: $textwhite;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 1);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    font-size: 52px;
    text-shadow: 0px 0px 10px #9c90c5;
    font-family: "Paytone One", sans-serif;
  }

  .leaders-list {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    .top-player-card {
      font-family: "Itim", cursive;
      display: flex;
      justify-content: space-between;
      align-items: center;
      backdrop-filter: blur(4px);
      background: rgba(white, 0.06);
      box-shadow: 0 1.5px 5px 0 rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(255, 255, 255, 0.18);
      border-radius: 8px;
      width: 800px;
      font-size: 32px;
      padding: 10px 18px;

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      .player-name {
      }

      .player-score {
      }
    }
  }

  .answers-analysis {
    height: 300px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid #ffffff7a;
    padding: 0 32px;

    .answer-bar {
      position: relative;
      height: 100%;
      width: 66px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      display: flex;
      justify-content: center;

      &:not(:first-child) {
        margin-left: 46px;
      }

      &.tick {
        color: #30aa5f;
      }

      span {
        font-family: "Mali", cursive;
        position: absolute;
        bottom: -36px;
        font-size: 24px;

        .tick-icon {
          position: absolute;
          width: 28px;
          height: 36px;
        }
      }
    }

    .opt-1 {
      background: rgba($pal3, $alpha);
    }

    .opt-2 {
      background: rgba($pal2, $alpha);
      height: 50%;
    }

    .opt-3 {
      background: rgba($pal5, $alpha);
      height: 25%;
    }

    .opt-4 {
      background: rgba($goldenrod, $alpha);
      height: 75%;
    }
  }

  .next-btn {
    position: fixed;
    top: 12px;
    right: 12px;
    font-family: "Mali", cursive;
    padding: 10px 22px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    backdrop-filter: blur(1px);
    background: rgba(white, 0.1);
    color: #ffffffbd;
    box-shadow: inset 0 1px 10px 0 rgba(255, 255, 255, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.25);

    &:hover {
      box-shadow: inset 0 1px 10px 0 rgba(255, 255, 255, 0.73);
      border: 1px solid rgba(255, 255, 255, 0.42);
      color: white;
    }
  }

  .question {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 100px;
    font-size: 34px;
    font-weight: 700;
    backdrop-filter: blur(1px);
    background: rgba(white, 0.1);
    box-shadow: inset 0 1px 10px 0 rgba(255, 255, 255, 0.73);
    border: 1px solid rgba(255, 255, 255, 0.42);

    transform: scale(0);
  }

  .middle-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .question-time {
      position: absolute;
      left: 16px;
      background: rgba(#ff4242, $alpha);
      backdrop-filter: blur(5px);
      border-radius: 50%;
      font-size: 62px;
      line-height: 116px;
      height: 120px;
      width: 120px;
      text-align: center;

      opacity: 0;
      transform: scale(0);
      color: transparent;
    }

    .media {
      // height: 320px;
      height: 45vh;
      border-radius: 8px;
      // border: 1px dotted #ffffff78;

      opacity: 0;
    }

    .control-bar {
      padding: 8px 8px;
      position: absolute;
      right: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 7px;
      color: rgba(255, 255, 255, 0.67);
      box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.4);
      border: 2px solid rgba(255, 255, 255, 0.3);

      opacity: 0;

      .question-number-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
        // margin-top: 10px;

        .icon {
          transform: scaleY(1.1);
          margin-bottom: 4px;
          width: 36px;
          height: 36px;
        }

        .question-number {
          margin-top: -2.5px;
          font-size: 15px;
        }
      }

      .people-answers-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 13px;

        .icon {
          margin-bottom: 0.5px;
          width: 38px;
          height: 38px;
        }

        .people-answers {
          font-size: 15px;
        }
      }

      .next-question-btn {
        margin-bottom: 14px;
      }

      .stop-game-btn,
      .next-question-btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 2px solid rgba(255, 255, 255, 0.35);
        border-radius: 4.5px;

        .icon {
          width: 22px;
          height: 22px;
        }
      }

      // .stop-game-btn {
      //   cursor: pointer;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   width: 36px;
      //   height: 36px;
      //   border: 1px solid rgba(255, 255, 255, 0.22);
      //   border-radius: 5px;

      //   .icon {
      //     width: 20px;
      //     height: 20px;
      //   }
      // }
    }
  }

  .answer-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    .answer {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 26px;
      border-radius: 5px;
      height: 100px;
      padding: 16px;
      backdrop-filter: blur(5px);
      // font-family: 'Comfortaa', cursive;

      transform: scale(0);
    }

    .opt-1 {
      background: rgba($pal3, $alpha);
    }

    .opt-2 {
      background: rgba($pal2, $alpha);
    }

    .opt-3 {
      background: rgba($pal5, $alpha);
    }

    .opt-4 {
      background: rgba($goldenrod, $alpha);
    }
  }

  .overlay {
    @include intro-overlay;
  }
}
