$bc-asana: #3be8b0;
$bc-asana-1: #3be8b0;
$bc-asana-2: #1aafd0;
$bc-asana-3: #6a67ce;
$bc-asana-4: #ffb900;
$bc-asana-5: #fc636b;

$bc-dindr: #fdb94e;
$bc-dindr-1: #fdb94e;
$bc-dindr-2: #f9a852;
$bc-dindr-3: #f69653;
$bc-dindr-4: #f38654;
$bc-dindr-5: #f07654;
$bc-dindr-6: #ed6856;
$bc-dindr-7: #ef5956;
$bc-dindr-8: #ee4c58;
$bc-dindr-9: #56c1ab;
$bc-dindr-10: #6a6b6a;

$bc-gospel-for-asia: #099d84;
$bc-gospel-for-asia-1: #099d84;
$bc-gospel-for-asia-2: #4d9db3;
$bc-gospel-for-asia-3: #456acf;
$bc-gospel-for-asia-4: #8762c9;
$bc-gospel-for-asia-5: #ad182d;
$bc-gospel-for-asia-6: #e15f5f;

$bc-instagram: #405de6;
$bc-instagram-1: #405de6;
$bc-instagram-2: #5851db;
$bc-instagram-3: #833ab4;
$bc-instagram-4: #c13584;
$bc-instagram-5: #e1306c;
$bc-instagram-6: #fd1d1d;
$bc-instagram-7: #f56040;
$bc-instagram-8: #f77737;
$bc-instagram-9: #fcaf45;
$bc-instagram-10: #ffdc80;

$bc-mapbox: #3bb2d0;
$bc-mapbox-1: #3bb2d0;
$bc-mapbox-2: #3887be;
$bc-mapbox-3: #8a8acb;
$bc-mapbox-4: #56b881;
$bc-mapbox-5: #50667f;
$bc-mapbox-6: #41afa5;
$bc-mapbox-7: #f9886c;
$bc-mapbox-8: #e55e5e;
$bc-mapbox-9: #ed6498;
$bc-mapbox-10: #fbb03b;
$bc-mapbox-11: #142736;
$bc-mapbox-12: #28353d;
$bc-mapbox-13: #222b30;

$bc-algolia: #050f2c;
$bc-algolia-1: #050f2c;
$bc-algolia-2: #003666;
$bc-algolia-3: #00aeff;
$bc-algolia-4: #3369e7;
$bc-algolia-5: #8e43e7;
$bc-algolia-6: #b84592;
$bc-algolia-7: #ff4f81;
$bc-algolia-8: #ff6c5f;
$bc-algolia-9: #ffc168;
$bc-algolia-10: #2dde98;
$bc-algolia-11: #1cc7d0;