$black: #000;
$white: #fff;
$textwhite: #e3e3e3;
$lightgrey: #ebebeb;
$d-lightgrey: #e2e2e2;
$mediumgrey: #cbcbcb;
$grey: #b3b3b3;
$darkgrey: #6c6c6c;
$mistyrose: #ffd6e4;
$labelsalmon: #f9a4a4c9;
$blursalmon: #ffa3a3e8;
$darkblursalmon: #fa9292ad;
$lightsalmon: #ff8484;
$salmon: #fd6f6f;
$darksalmon: #fe5555;
$palevioletred: #f15f87;
$darktomato: #d93636;
$tomato: #fc3b53;
$khaki: #edd967;
$darkkhaki: #f2d848;
$darkslatebrown: #503d3d;
