@import '../../../shared/style/color.scss';

.game-control {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .question {
    padding: 4px 16px;
    background: $white;
    text-align: center;
    font-size: 36px;
    width: 100vw;
    line-height: 70px;
  }

  .middle {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin: 0 12px;

    .time {
      text-align: center;
      font-size: 22px;
      line-height: 42px;
      width: 42px;
      color: $white;
      background: $black;
      border-radius: 50%;
    }

    .media {
      height: 300px;
    }

    .answered-counter {
      color: $white;
      font-size: 22px;
      width: 66px;
      text-align: center;
    }

    .next-btn {
      position: absolute;
      top: 8px;
      right: -4px;
      line-height: 36px;
      font-size: 16px;
      width: 60px;
      text-align: center;
      background: purple;
      color: $white;
      cursor: pointer;
    }

    .end-btn {
      position: absolute;
      bottom: 8px;
      right: -4px;
      line-height: 36px;
      font-size: 16px;
      width: 60px;
      text-align: center;
      background: #d6d6d6;
      cursor: pointer;
    }
  }

  .answer-options {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    width: 100vw;

    .answer {
      padding: 6px 8px;
      height: 100px;
      font-size: 24px;
      color: $white;

      .correct {
        font-weight: bold;
      }

      &.option-1 {
        background: red;
      }

      &.option-2 {
        background: blue;
      }

      &.option-3 {
        background: green;
      }

      &.option-4 {
        background: #ffdf27;
      }
    }
  }

  .current-question {
    color: $white;
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    background: $black;
  }
}